body{
    font-family:"Roboto Mono",sans-serif ;
}
section{
    /* height:500px; */
    background:white;
    /* border:solid black 2px; */
}

.hero{
    background-color:
    /* #A3CFA7; */
     #00008B;
    height:100vh;
    color:white;
    font-size: 30px;
}

footer{
    /* height:500px; */
    padding:80px;
    background-color: black;
    color:white;
    text-align:center;

}

nav {
    display:flex;
    justify-content: space-between;
    /* border:2px red solid; */
}

.logo{
    height:150px;
    margin:2px;
    

}

ul{
    display:flex;
    /* list-style-type: none; */
    list-style:none;
    width:600px;
    justify-content:space-around;
    font-size:20px;
}

ul.show{
    display:block;
}

li {
    /* width:150px; */
    
    text-decoration: none;
    
}

h1{
font-size:90px;
margin: 0px;
}
p{
    margin:0px;
    font-size:30px;
    font-weight:100;
}
.hero-area{
    display:flex;
    /* flex-direction:column; */
    height:100%;
    justify-content:space-between;
    align-items:center;
}

.hero-text{
    margin-left:40px;
    margin-bottom:200px;
    
}
.typewriter {
    overflow: hidden;
    white-space: nowrap;
    border-right: 0.15em solid rgb(145, 27, 27);
    animation: typing 5s steps(40, end), blink-caret 0.75s step-end forwards;
  }
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #000 }
  }

.button {
    width:200px;
    height:60px;
    margin-top:20px;
    border-radius:30px;
    text-align:center;
    background-color:coral;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:30px;
    font-weight:100;
}

.button:hover{
    background-color: rgb(109, 82, 50);
    
}

.button:active{
    background-color: grey;
    color:red
}

.socials{
    padding-bottom: 250px;
}

.logo-social {
    margin:20px;
}

.sub-section {
    display:flex;
    justify-content:space-around;
    padding:80px;
}

.sub-section-alternative{
    display:flex;
    flex-direction:column;
    text-align:center;
    padding:80px;
}
h2{
    font-size:50px;
}

.headshot {
    width:300px;
    border-radius:150px;
    
}

.headshot-container{
    display:flex;
    align-items: center;
} 

.project-card{
    /* border: solid black 1px; */
    box-shadow:5px 5px 20px rgb(146, 140, 140);
    width:300px;
    height:500px;
    margin:10px;


}

.project-container{
    display:flex;
    justify-content:space-around;
}

.project-image{
    margin-top:25px;
    width:250px;
    border-radius:125px;    
}

.subtext{
    font-size:15px;
    font-weight:300;

}

hr{
    margin-left:20px ;
    margin-right: 20px;

}

.project-link {
    text-decoration:none ;
    color: rgb(109, 82, 50)
}

a{
    text-decoration: none;
    color:white;
}

.hand-cv {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
}
.cv-link{
    color:black;
    font-weight: 80;
    /* padding-left:180px; */
    /* text-align:center; */
}

.hand-icon{
    font-size: 40px;
    /* padding-left:100px; */
    color:orange;
}

.hamburger{
   display:none;
    
}

.hamburger:focus{
    outline:0;
}
/* responsive bits */
@media only screen and (max-width:1000px){
    .project-container{
        display:flex;
        flex-wrap:wrap;
    }
}
@media only screen and (max-width:1000px){
   
    .hamburger{
        display:block;
        border:0;
        background-color:transparent;
        color:white;
        font-size:30px;

    }

    ul{
        display:none;
        background-color: rgb(46, 46, 95);
    }

    nav{
        align-items:flex;
        background-color: rgb(46, 46, 95);
        flex-direction: column-reverse;



    }

    .logo{
        display:none;
    }
}

/* styling for options.html */
#provider-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    width: 75%;

  }

  #provider-list li {
    width: 33.33%;
    text-align: center;
  }

  #provider-list a {
    display: block;
    padding: 10px;
    background-color: orange;
    color: white;
    text-decoration: none;
    border-radius: 10px;
  }

  #provider-list a:hover {
    background-color: gray;
  }